@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*Diseño de la cabecera*/

.encabezado{
    width: 100%;
    background: #000;
}

.container{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
}

.encabezado .container .marca{

}


.encabezado .container .marca h3{
    color: #ff429d;
    font-size: 2em;
    font-weight: bold;
    line-height: 60px;
    float: left;
}

.encabezado .container .marca .redes{
    float: right;
    line-height: 60px;
}

.encabezado .container .marca .redes span{
    color: #fff;
    font-size: 1.2em;
    padding: .8em;
}

.encabezado .container .marca .redes .fa-facebook:hover{
    color: #1471c9;
    transition: all 500ms ease;
}

.encabezado .container .marca .redes .fa-google:hover{
    color: #f75151;
    transition: all 500ms ease;
}

.encabezado .container .marca .redes .fa-twitter:hover{
    color: #2acaf7;
    transition: all 500ms ease;
}

.encabezado .container .marca .redes .fa-linkedin:hover{
    color: #2369aa;
    transition: all 500ms ease;
}

/*Diseño de la Navegación*/
.navegacion{
    padding: .8em 0px;
}

.navegacion .menu-navegacion{
}

.navegacion .menu-navegacion .fa-bars{
    box-sizing: border-box;
    font-size: 2em;
    color: #ff429d;
}

.navegacion .menu-navegacion .fa-search{
    float: right;
    font-size: 1.8em;
}

/*diseño de bloque quienes somos*/
.presentacion{
    background: url("../images/banner.jpg");
    width: 100%;
    background-size: cover;
    min-height: 266.75px;
    text-align: center;
    overflow:hidden;
}

.presentacion .texto-presentacion{
    text-align: center;
    padding: 2em 0px;
    width: 100%;
}

.presentacion .texto-presentacion h3{
    color: #fff;
    font-size: 1.4em;
}

.presentacion .texto-presentacion .linea{
    background: #fff;
    height: 2px;
    width: 10%;
    margin: 0px auto;
    display: block;
}

.presentacion .texto-presentacion a{
    display: inline-block;
    color: #fff;
    border: .2em solid #fff;
    padding: .7em 3em;
    text-decoration: none;
    margin-top: 3em;
    
}

.presentacion .texto-presentacion .flecha{
    display: block;
    color: #fff;
    font-size: 2em;
    margin-top: 1em;
}

/*Diseño de bloque de nosotros*/

.nosotros{
    text-align: center;
    padding: 2em 0px;
}

.nosotros .texto-nosotros{
    margin-bottom: 2em;
    padding: 0px 2em;
}

.nosotros .texto-nosotros h2{
    font-size: 2em;
}

.nosotros .texto-nosotros h4{
    color: red;
}

.nosotros .texto-nosotros p{
    color: #8e8e8e;
    font-weight: 200;
    margin-top: 1em;
}


.nosotros .img-nosotros img{
    border: .1em solid #4e4e4e;
    padding: 1em;

}

/*Diseño del bloque de servicios*/

.servicios{
    background: url("../images/servicesbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2em 2em;
}

.servicios .item-servicios article{
    margin-top: 2em;
}

.servicios h2{
    color: #fff;
    font-size: 2em;
}

.servicios .item-servicios article span{
    color: rgba(255, 255, 255, .8);
    font-size: 3.3em;
    border: .1px solid rgba(255, 255, 255, .8);
    border-radius: 100%;
    padding: .31em .35em;
}

.servicios .item-servicios article h5{
    color: rgba(255, 255, 255, .8);
    font-size: 1.1em;
    font-weight: bold;
}

.servicios .item-servicios article p{
    color: rgba(255, 255, 255, .6);
    font-weight: 100;
}








